@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Audiowide";
  src: url("./fonts/Audiowide.woff2");
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./fonts/CascadiaCode.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 90%);
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-image: url("images/space-backdrop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-bottom: 2px solid #1d20a3;
}

#header-image {
  display: block;
  width: 50px;
}

#header-heading {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
  font-family: "Audiowide", sans-serif;
}

main {
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  padding: 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: ease 0.5s;
}

button span {
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
}

button span:hover {
  color: hsl(313, 51%, 53%);
  text-shadow: 0 0 0.4rem hsl(313, 51%, 33%);
  transition: ease-in 0.2s;
}

#container {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  box-shadow: 0 0 0.2rem #30d4cc;
}

#chapter-container {
  display: grid;
  row-gap: 0.5rem;
}

#chapter-bar,
#level-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: hsla(270, 100%, 35%, 0.25);
}

#chapter-bar h2,
#level-bar h3 {
  text-align: center;
}

#chapter-heading {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Audiowide", sans-serif;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
}

#chapter-concepts {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.35);
}

#chapter-concepts-code,
#level-code {
  display: block;
  padding: 0.5rem 1rem;
  background-color: hsla(0, 0%, 10%, 0.7);
  border-radius: 0.5rem;
  color: hsl(140, 100%, 60%);
  font-family: "Cascadia Code", monospace;
  line-height: 1.5;
  font-size: 0.9rem;
  user-select: text;
}

#level-container {
  display: grid;
  row-gap: 0.5rem;
}

#level-heading {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Audiowide", sans-serif;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
}

#level-cells-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.25);
}

#level-cells {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cell-small {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  background-position: center bottom, center top;
  background-repeat: repeat-x, no-repeat;
  background-size: auto 0.25rem, cover;
}

.dunes-small {
  background-image: url("images/dunes-border.jpg"), url("images/dunes.jpg");
}

.rocky-small {
  background-image: url("images/rocky-border.jpg"), url("images/rocky.jpg");
}

.grass-small {
  background-image: url("images/grass-border.jpg"), url("images/grass.jpg");
}

.water-small {
  background-image: url("images/water-border.jpg"), url("images/water.jpg");
}

#level-planet {
  width: 500px;
  height: 500px;
  background-color: hsl(246, 61%, 20%);
  border: 0.5rem solid hsl(246, 61%, 10%);
}

.cell {
  min-width: 1.5rem;
  min-height: 1.5rem;
  border: 1px solid black;
  background-position: center bottom, center top;
  background-repeat: repeat-x, no-repeat;
  background-size: auto 10px, cover;
  font-size: 2rem;
  font-family: sans-serif;
  overflow-wrap: break-word;
}

.dunes {
  background-image: url("images/dunes-border.jpg"), url("images/dunes.jpg");
  color: white;
}

.rocky {
  background-image: url("images/rocky-border.jpg"), url("images/rocky.jpg");
  color: black;
}

.grass {
  background-image: url("images/grass-border.jpg"), url("images/grass.jpg");
  color: white;
}

.water {
  background-image: url("images/water-border.jpg"), url("images/water.jpg");
  color: black;
}
