@font-face {
  font-family: "Audiowide";
  src: url("./fonts/Audiowide.woff2");
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./fonts/CascadiaCode.woff2");
}

:root {
  --blue01: #27135b;
  --blue02: #132468;
  --purple01: #27135b;
  --purple02: #190a47;
  --pink01: #a6368e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: hsl(0, 0%, 90%);
  background-image: url("images/space-backdrop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  padding: 0.5rem 0;
  text-align: center;
  background: linear-gradient(
    to right,
    hsla(260, 57%, 10%, 0.85),
    hsla(260, 57%, 25%, 0.85),
    hsla(260, 57%, 10%, 0.85)
  );
  border-bottom: 2px solid #1d20a3;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: 500;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.chapter-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  box-shadow: 0 0 0.2rem #30d4cc;
  border-radius: 0.5rem;
}

.chapter-details h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
  border-bottom: 0.1rem solid #6b1d5d;
}

.chapter-details h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
}

.chapter-buttons-container {
  display: flex;
  gap: 0.5rem;
}

.chapter-buttons-container button {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0.25rem;
  box-shadow: 0 0 0.2rem #872e82;
  color: #47ccdf;
  cursor: pointer;
  border-radius: 0.25rem;
}

.chapter-buttons-container button:hover {
  box-shadow: 0 0 0.2rem #30d4cc;
  color: #872e82;
}

.levels-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.level-container {
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  box-shadow: 0 0 0.2rem #0d68ab;
  border-radius: 0.5rem;
}

.level-container h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #47ccdf;
  text-shadow: 0 0 0.4rem #30d4cc;
  border-bottom: 0.1rem solid #6b1d5d;
}

pre {
  padding: 0.5rem;
  display: inline-block;
  background-color: hsla(0, 0%, 10%, 0.7);
  border-radius: 0.5rem;
}

code {
  display: inline-block;
  color: hsl(140, 100%, 60%);
  font-family: "Cascadia Code", monospace;
  line-height: 1.5;
  font-size: 0.9rem;
}

.planet {
  margin: 0.5rem 0;
  width: 500px;
  height: 500px;
  background-color: hsl(246, 61%, 20%);
  border: 0.5rem solid hsl(246, 61%, 10%);
}

.dunes {
  box-sizing: content-box;
  background-image: url("images/dunes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1px 1px 1rem 1px;
  border-style: solid;
  border-color: black;
  border-image: url("images/dunes-border.jpg") 0 0 100% 0;
}

.rocky {
  box-sizing: content-box;
  border: 1px solid hsl(75, 73%, 40%);
  background-image: url("images/rocky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1px 1px 1rem 1px;
  border-style: solid;
  border-color: black;
  border-image: url("images/rocky-border.jpg") 0 0 100% 0;
}

.grass {
  box-sizing: content-box;
  border: 1px solid hsl(188, 73%, 17%);
  background-image: url("images/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1px 1px 1rem 1px;
  border-style: solid;
  border-color: black;
  border-image: url("images/grass-border.jpg") 0 0 100% 0;
}
